@import "../../../styles/partials/variables";

.create-new-random-gameboard-button {
  .create-new-random-gameboard-button-text-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .randomise-icon {
    margin-left: 4px;
  }
}
