@import "../../../../styles/partials/variables";

.gameboard-ship-stats-title {
  margin: $gameboard-ship-stats-title-margin;
  font-family: $gameboard-ship-stats-title-font-family;
  font-size: $gameboard-ship-stats-title-font-size;
  font-weight: $gameboard-ship-stats-title-font-weight;
  text-align: $gameboard-ship-stats-title-text-align;
  text-shadow: $gameboard-ship-stats-title-text-shadow;
}
