@import "../../../../styles/partials/variables";

.gameboard-ship-stats-title {
  margin: $gameboard-ship-stats-title-margin;
  font-family: "Roboto", sans-serif;
  font-size: $gameboard-ship-stats-title-font-size;
  font-weight: $gameboard-ship-stats-title-font-weight;
  text-align: $gameboard-ship-stats-title-text-align;
}
