@import "../../../../styles/partials/variables";

.gameboard-player-grid-ship-placement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $gameboard-max-width;
  margin-top: $gameboard-player-grid-ship-placement-margin-top;
  text-align: center;
  .player-name-title {
    font-size: $player-name-title-font-size;
    font-weight: $player-name-title-font-weight;
    margin-bottom: $player-name-title-margin-bottom;
    text-shadow: $gameboard-player-grid-ship-placement-player-name-title-text-shadow;
  }
  .ship-placement-message {
    font-size: $ship-placement-message-font-size;
    font-weight: $ship-placement-message-font-weight;
    margin-bottom: $ship-placement-message-margin-bottom;
    text-shadow: $gameboard-player-grid-ship-placement-ship-placement-message-text-shadow;
  }
  .game-buttons-ship-placement-wrapper {
    max-width: $game-buttons-ship-placement-wrapper-max-width;
    margin-bottom: $game-buttons-ship-placement-wrapper-margin-bottom;
  }
  .gameboard-placement-wrapper {
    width: 100%;
    max-width: $gameboard-max-width;
    margin-bottom: $gameboard-placement-wrapper-margin-bottom;
    .gameboard-wrapper {
      .gameboard {
        .hovered-valid-ship-position {
          background-color: $gameboard-ship-hovered-valid-ship-position-bg-color;
          cursor: pointer;
        }
        .hovered-invalid-ship-position {
          background-color: $gameboard-ship-hovered-invalid-ship-position-bg-color;
        }
      }
    }
  }
}

.button-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomise-icon {
  margin-left: $randomise-icon-margin-left;
}
