@import "../../../../styles/partials/variables";

.gameboard-player-grid-ship-placement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: $gameboard-player-grid-ship-placement-margin-top;
  text-align: center;
  .player-name-title {
    font-size: $player-name-title-font-size;
    margin-bottom: $player-name-title-margin-bottom;
  }
  .ship-placement-message {
    font-size: $ship-placement-message-font-size;
    margin-bottom: $ship-placement-message-margin-bottom;
  }
  .game-buttons-ship-placement-wrapper {
    margin-bottom: $game-buttons-ship-placement-wrapper-margin-bottom;
  }
  .gameboard-placement-wrapper {
    width: 100%;
    max-width: $gameboard-max-width;
    margin-bottom: $gameboard-placement-wrapper-margin-bottom;
  }
}

.button-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.randomise-icon {
  margin-left: $randomise-icon-margin-left;
}
