// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 700px;
$media-query-large-screen: 900px;
$media-query-xlarge-screen: 1200px;

// General
$primary-text-color: white;

// Gameboard
$gameboard-grid-gap: 2px;
$gameboard-cell-bg-color: white;
$gameboard-bg-color: #b4b4ff;
$gameboard-hit-bg-color: rgb(168, 56, 56);
$gameboard-miss-bg-color: rgb(216, 216, 216);
$gameboard-freemiss-bg-color: rgb(248, 236, 168);
$gameboard-ship-bg-color: rgb(58, 163, 223);
$gameboard-ship-hovered-valid-ship-position-bg-color: rgb(58, 163, 223);
$gameboard-ship-hovered-invalid-ship-position-bg-color: rgb(192, 37, 37);

// ui button
$primary-text-color-ui-button: white;
$primary-background-color-ui-button: rgb(221, 101, 107);

// Modal
$modal-bg-overlay-color: rgba(0, 0, 0, 0.6);
$modal-bg-color: white;
$modal-box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
$modal-border-radius: 0px;
$modal-content-color: black;
$modal-content-font-size: 36px;
$modal-content-font-weight: 700;
$modal-close-button-color: white;
$modal-close-button-bg-color: black;
$modal-close-button-font-size: 22px;

// ModalMessage
$modal-message-margin: 20px 0;

// ModalButtonsWrapper

// ModalButton
// $button-margin: 10px 10px 0 10px;
$button-margin: 5px;
$button-width: 130px;
$button-height: 38px;
$button-color: white;
$button-font-size: 16px;
$button-font-weight: 700;
$button-bg-color: rgb(233, 73, 33);
$button-border-radius: 4px;

// gameboardShipStats
$gameboard-ship-stats-max-width: 200px;
$gameboard-ship-stats-ship-margin-top-bottom: 8px;
$gameboard-ship-stats-ship-margin-right-left: 10px;
$gameboard-ship-stats-ship-cell-width: 18px;
$gameboard-ship-stats-ship-cell-height: 18px;
$gameboard-ship-stats-ship-cell-margin-left: 2px;
$gameboard-ship-stats-ship-hidden: $gameboard-ship-bg-color;
$gameboard-ship-stats-ship-sunken: $gameboard-hit-bg-color;
