// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 700px;
$media-query-large-screen: 900px;
$media-query-xlarge-screen: 1200px;

// General
$primary-text-color: white;

// Gameboard
$gameboard-grid-gap: 2px;
$gameboard-cell-bg-color: white;
$gameboard-bg-color: #b4b4ff;

// ui button
$primary-text-color-ui-button: white;
$primary-background-color-ui-button: rgb(221, 101, 107);

// GameOverModal
$game-over-modal-bg-overlay-color: rgba(0, 0, 0, 0.6);
$game-over-modal-bg-color: white;
$game-over-modal-box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
$game-over-modal-content-color: black;
$game-over-modal-content-font-size: 36px;
$game-over-modal-content-font-weight: 700;
$game-over-modal-play-again-button-bg-color: rgb(233, 73, 33);
$game-over-modal-play-again-button-color: white;
$game-over-modal-play-again-button-font-size: 16px;
$game-over-modal-play-again-button-font-weight: 700;
$game-over-modal-close-button-color: white;
$game-over-modal-close-button-bg-color: black;
$game-over-modal-close-button-font-size: 22px;
