// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 700px;
$media-query-large-screen: 900px;
$media-query-xlarge-screen: 1200px;
