// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 750px;
$media-query-large-screen: 900px;
$media-query-xlarge-screen: 1200px;

// index
$html-font-size: 32px;
$html-bg-color: transparent;
$body-font-weight: 700;

// App
$app-margin: 20px;
$app-color: white;
$app-bg-color: transparent;

// General
$primary-text-color: white;

// Game

// GameboardsWrapper
// gameboards-wrapper-grid-column-gap depends on the on the max width of a gameboard-cell on full screen
$gameboards-wrapper-grid-column-gap: 38.2px;
$gameboards-wrapper-grid-row-gap: 0;
$gameboards-wrapper-margin: 32px 0;
$gameboard-player-grid-title-wrapper-margin: 0 0 16px 0;
$gameboard-player-grid-wrapper-margin: 0 0 20px 0;
$gameboard-ship-stats-title-wrapper-margin: 0 0 8px 0;
$gameboard-ship-stats-wrapper-margin: 0 0 0 0;
$gameboards-wrapper-button-wrapper-margin-small: 42px 0 28px 0;
$gameboards-wrapper-button-wrapper-margin: 8px 0;

// Gameboard
$gameboard-box-shadow-width: 12px;
$gameboard-inner-max-width: 400px;
$gameboard-max-width: calc(
  #{$gameboard-inner-max-width} + (2 * #{$gameboard-box-shadow-width})
);
$gameboard-grid-gap-small: 1px;
$gameboard-grid-gap: 2px;
$gameboard-miss-freemiss-dot-width-height-small: 3px;
$gameboard-miss-freemiss-dot-width-height: 4px;
$gameboard-cell-bg-color: rgb(255, 243, 225);
$gameboard-cell-possible-move-hover-box-shadow-width-inset-small: 2px;
$gameboard-cell-possible-move-hover-box-shadow-width-inset: 2px;
$gameboard-cell-possible-move-hover-box-shadow-color: rgb(233, 73, 33);
$gameboard-bg-color: #9e632d;
$gameboard-box-shadow: 0px 0px 1px 3px rgb(104, 62, 8),
  0px 0px 1px 6px rgb(155, 109, 69), 0px 0px 1px 8px rgb(109, 56, 12),
  0px 0px 0px 10px rgb(148, 108, 80),
  0px 0px 0px $gameboard-box-shadow-width rgb(114, 60, 9),
  0px 10px 15px 5px black;
$gameboard-box-shadow-active: 0px 0px 1px 3px rgb(104, 62, 8),
  0px 0px 1px 6px rgb(155, 109, 69), 0px 0px 1px 8px rgb(109, 56, 12),
  0px 0px 0px 10px rgb(148, 108, 80),
  0px 0px 0px $gameboard-box-shadow-width rgb(114, 60, 9),
  0px 10px 20px 10px black;
$gameboard-hit-bg-color: rgb(168, 56, 56);
$gameboard-miss-bg-color: rgb(241, 219, 169);
$gameboard-miss-pseudo-circle-bg-color: black;
$gameboard-freemiss-bg-color: rgb(241, 219, 169);
$gameboard-freemiss-pseudo-circle-bg-color: rgb(197, 153, 150);
$gameboard-ship-bg-color: rgb(24, 117, 179);
$gameboard-ship-hovered-valid-ship-position-bg-color: rgb(210, 210, 210);
$gameboard-ship-hovered-invalid-ship-position-bg-color: rgb(192, 37, 37);
$gameboard-inactive-filter-brigtness: 65%;

// GameboardPlayerGridShipPlacement
$gameboard-player-grid-ship-placement-margin-top: 1.2rem;
$player-name-title-font-size: 1.8rem;
$player-name-title-font-weight: 700;
$player-name-title-margin-bottom: 1.5rem;
$gameboard-player-grid-ship-placement-player-name-title-text-shadow: 1px 1px 5px
  rgba(0, 0, 0, 0.25);
$game-buttons-ship-placement-wrapper-max-width: 400px;
$game-buttons-ship-placement-wrapper-margin-bottom: 0.6rem;
$gameboard-placement-wrapper-margin-bottom: 1rem;
$randomise-icon-margin-left: 4px;
$ship-placement-message-font-size: 1.2rem;
$ship-placement-message-font-weight: 700;
$ship-placement-message-margin-bottom: 0.4rem;
$gameboard-player-grid-ship-placement-ship-placement-message-text-shadow: 1px
  10px 15px rgba(0, 0, 0, 0.25);

// Modal
$modal-bg-overlay-color: rgba(0, 0, 0, 0.6);
$modal-bg-color: white;
$modal-box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
$modal-border-radius: 0px;
$modal-width: 500px;
$modal-content-padding: 20px;
$modal-content-color: black;
$modal-content-font-size: 1.8rem;
$modal-content-font-weight: 700;
$modal-close-button-color: white;
$modal-close-button-bg-color: black;
$modal-close-button-font-size: 22px;
$modal-close-button-border-radius: 0px;

// ModalMessage
$modal-message-margin: 20px 0;

// GameLogicModals
// input-name
$input-name-width: 100%;
$input-name-margin-top: 20px;
$input-name-padding: 6px 8px;
$input-name-font-family: "Tangerine", "Roboto", sans-serif;
$input-name-font-size: 1rem;
$input-name-font-weight: 700;
$input-name-bg-color: rgb(248, 236, 213);
$input-name-border: 0;
$input-name-border-radius: 4px;

// ButtonsWrapper
// GameButtons
$buttons-wrapper-grid-gap: 10px;

// Button
$button-margin: 0;
$button-width: 130px;
$button-height: 38px;
$button-color: white;
$button-font-family: "Roboto", sans-serif;
$button-font-size: 16px;
$button-font-weight: 700;
$button-bg-color: rgb(233, 73, 33);
$button-border-radius: 4px;
$button-disabled-filter-brightness: 70%;

// GameboardShipStats
$gameboard-ship-stats-max-width: 150px;
$gameboard-ship-stats-ship-margin-top-bottom: 8px;
$gameboard-ship-stats-ship-margin-right-left: 5px;
$gameboard-ship-stats-ship-box-shadow: none;
$gameboard-ship-stats-ship-cell-width: 18px;
$gameboard-ship-stats-ship-cell-height: 18px;
$gameboard-ship-stats-ship-cell-margin-right: 2px;
$gameboard-ship-stats-ship-cell-box-shadow: 2px 2px 2px rgb(0, 0, 0);
$gameboard-ship-stats-ship-hidden: $gameboard-ship-bg-color;
$gameboard-ship-stats-ship-sunken: $gameboard-hit-bg-color;

// GameboardPlayerGridTitle
$gameboard-player-grid-title-font-family: "Tangerine", cursive;
$gameboard-player-grid-title-font-size: 1.5rem;
$gameboard-player-grid-title-font-weight: 700;
$gameboard-player-grid-title-text-align: center;
$gameboard-player-grid-title-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

// GameboardShipStatsTitle
$gameboard-ship-stats-title-font-family: "Tangerine", cursive;
$gameboard-ship-stats-title-font-size: 1.1rem;
$gameboard-ship-stats-title-font-weight: 700;
$gameboard-ship-stats-title-text-align: center;
$gameboard-ship-stats-title-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
