@import "../../../styles/partials/variables";

.modal-button {
  margin: $modal-button-margin;
  width: $modal-button-width;
  height: $modal-button-height;
  color: $modal-button-color;
  font-size: $modal-button-font-size;
  font-weight: $modal-button-font-weight;
  text-align: center;
  background-color: $modal-button-bg-color;
  border: 0;
  border-radius: $modal-button-border-radius;
}
