@import "../../styles/partials/variables";

.gameboard-player-grid-ship-placement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .ship-placement-direction-value {
    text-transform: capitalize;
  }
  .gameboard-placement-wrapper {
    max-width: 400px;
    width: 100%;
  }
}

.button-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.randomise-icon {
  margin-left: 4px;
}
