@import "../../styles/partials/variables";

.game {
  // width: 100vw;
  // height: 100vh;
  .gameboard-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    // margin: 0 auto;
    .gameboard {
      display: grid;
      grid-gap: $gameboard-grid-gap;
      margin: 20px;
      max-width: 300px;
      background-color: $gameboard-bg-color;
      border: $gameboard-grid-gap solid $gameboard-bg-color;
      .gameboard-cell {
        padding-top: 100%;
        background-color: $gameboard-cell-bg-color;
        pointer-events: all;
      }
      .hit {
        background-color: $gameboard-hit-bg-color;
      }
      .miss {
        background-color: $gameboard-miss-bg-color;
      }
      .freemiss {
        background-color: $gameboard-freemiss-bg-color;
      }
      .ship {
        background-color: $gameboard-ship-bg-color;
      }
    }
    .gameboard-inactive {
      opacity: 0.6;
    }
  }

  .ui-button {
    display: inline-block;
    margin-left: 20px;
    padding: 8px 10px;
    color: $primary-text-color-ui-button;
    font-size: 16px;
    font-weight: 500;
    background-color: $primary-background-color-ui-button;
    border-radius: 4px;
    cursor: pointer;
  }

  .ui-button-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
