@import "../../styles/partials/variables";

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: calc(
    (#{$gameboard-max-width} * 2) + #{$gameboards-wrapper-grid-column-gap}
  );
}
