@import "../../styles/partials/variables";

.gameboards-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  @media screen and (min-width: $media-query-medium-screen) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  grid-gap: 40px;
  width: 100%;
  .gameboard-player-grid-gameboard-ship-stats-wrapper {
    width: 100%;
  }
}
