@import "../../../styles/partials/variables";

.game-over-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: $game-over-modal-bg-overlay-color;
}

.game-over-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  display: block;
  width: 500px;
  max-width: calc(100% - 40px);
  height: 200px;
  max-height: 100%;
  transform: translate(-50%, -50%);
  background: $game-over-modal-bg-color;
  // background: url("../../../images/battleship-image.webp") no-repeat;
  // background-size: 100% 100%;
  box-shadow: $game-over-modal-box-shadow;
  .game-over-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    color: $game-over-modal-content-color;
    font-size: $game-over-modal-content-font-size;
    font-weight: $game-over-modal-content-font-weight;
    // text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    overflow: auto;
    .game-over-modal-winner {
      margin: 20px 0;
      text-align: center;
    }
    .game-over-modal-play-again-button {
      background-color: $game-over-modal-play-again-button-bg-color;
      padding: 8px 24px;
      color: $game-over-modal-play-again-button-color;
      font-size: $game-over-modal-play-again-button-font-size;
      font-weight: $game-over-modal-play-again-button-font-weight;
      text-align: center;
      border: 0;
    }
  }
  .game-over-modal-close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 32px;
    height: 32px;
    font-size: $game-over-modal-close-button-font-size;
    color: $game-over-modal-close-button-color;
    background: $game-over-modal-close-button-bg-color;
    border: 0;
  }
}
