@import "../../../../styles/partials/variables";

.gameboard-wrapper {
  width: 100%;
  padding: $gameboard-box-shadow-width;
  .gameboard {
    display: grid;
    grid-gap: $gameboard-grid-gap-small;
    @media screen and (min-width: $media-query-small-screen) {
      grid-gap: $gameboard-grid-gap;
    }
    min-width: 100%;
    background-color: $gameboard-bg-color;
    box-shadow: $gameboard-box-shadow;
    aspect-ratio: 1;
    .gameboard-cell {
      padding-top: 100%;
      background-color: $gameboard-cell-bg-color;
      pointer-events: all;
    }
    .possible-move {
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        /* mouse or touchpad */
        &:hover {
          box-shadow: 0px 0px 0px $gameboard-grid-gap-small
              $gameboard-cell-possible-move-hover-box-shadow-color,
            inset 0px 0px 0px
              $gameboard-cell-possible-move-hover-box-shadow-width-inset-small
              $gameboard-cell-possible-move-hover-box-shadow-color;
          @media screen and (min-width: $media-query-small-screen) {
            box-shadow: 0px 0px 0px $gameboard-grid-gap
                $gameboard-cell-possible-move-hover-box-shadow-color,
              inset 0px 0px 0px
                $gameboard-cell-possible-move-hover-box-shadow-width-inset
                $gameboard-cell-possible-move-hover-box-shadow-color;
          }
        }
      }
    }
    .hit {
      background-color: $gameboard-hit-bg-color;
    }
    .miss,
    .freemiss {
      position: relative;
    }
    .miss {
      background-color: $gameboard-miss-bg-color;
      &::before {
        background-color: $gameboard-miss-pseudo-circle-bg-color;
      }
    }
    .freemiss {
      background-color: $gameboard-freemiss-bg-color;
      &::before {
        background-color: $gameboard-freemiss-pseudo-circle-bg-color;
      }
    }
    .miss::before,
    .freemiss::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: $gameboard-miss-freemiss-dot-width-height-small;
      height: $gameboard-miss-freemiss-dot-width-height-small;
      @media screen and (min-width: $media-query-small-screen) {
        width: $gameboard-miss-freemiss-dot-width-height;
        height: $gameboard-miss-freemiss-dot-width-height;
      }
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    .ship {
      background-color: $gameboard-ship-bg-color;
    }
  }
  .gameboard-inactive {
    filter: brightness($gameboard-inactive-filter-brigtness);
  }
  .gameboard-active {
    box-shadow: $gameboard-box-shadow-active;
  }
}
