@import "../../../../styles/partials/variables";

.gameboard {
  display: grid;
  grid-gap: $gameboard-grid-gap;
  min-width: 100%;
  background-color: $gameboard-bg-color;
  border: $gameboard-grid-gap solid $gameboard-bg-color;
  aspect-ratio: 1;
  .gameboard-cell {
    padding-top: 100%;
    background-color: $gameboard-cell-bg-color;
    pointer-events: all;
  }
  .hit {
    background-color: $gameboard-hit-bg-color;
  }
  .icon-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: $gameboard-icon-circle-font-size;
    transform: translate(-50%, -50%);
  }
  .miss {
    position: relative;
    background-color: $gameboard-miss-bg-color;
    .icon-circle {
      color: $gameboard-miss-icon-circle-color;
    }
  }
  .freemiss {
    position: relative;
    background-color: $gameboard-freemiss-bg-color;
    .icon-circle {
      color: $gameboard-freemiss-icon-circle-color;
    }
  }
  .ship {
    background-color: $gameboard-ship-bg-color;
  }
  .hovered-valid-ship-position {
    background-color: $gameboard-ship-hovered-valid-ship-position-bg-color;
  }
  .hovered-invalid-ship-position {
    background-color: $gameboard-ship-hovered-invalid-ship-position-bg-color;
  }
}

.gameboard-inactive {
  opacity: $gameboard-inactive-opacity;
}
