@import "../../../../styles/partials/variables";

.input-name {
  width: $input-name-width;
  margin-top: $input-name-margin-top;
  padding: $input-name-padding;
  border: $input-name-border;
  border-radius: $input-name-border-radius;
  background-color: $input-name-bg-color;
  font-family: $input-name-font-family;
  font-size: $input-name-font-size;
  font-weight: $input-name-font-weight;
  &:focus {
    outline: none;
  }
}
