@import "../../../../styles/partials/variables";

.gameboard-ship-stats {
  // width: 100%;
  .gameboard-ship-stats-shiplength-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .gameboard-ship-stats-ship {
      display: flex;
      margin: $gameboard-ship-stats-ship-margin-top-bottom
        $gameboard-ship-stats-ship-margin-right-left;
      box-shadow: $gameboard-ship-stats-ship-box-shadow;
      .gameboard-ship-stats-ship-cell {
        width: $gameboard-ship-stats-ship-cell-width;
        height: $gameboard-ship-stats-ship-cell-height;
        margin-right: $gameboard-ship-stats-ship-cell-margin-right;
        box-shadow: $gameboard-ship-stats-ship-cell-box-shadow;
        &:last-child {
          margin-right: 0;
        }
      }
      .gameboard-ship-stats-ship-hidden {
        background-color: $gameboard-ship-stats-ship-hidden;
      }
      .gameboard-ship-stats-ship-sunken {
        background-color: $gameboard-ship-stats-ship-sunken;
      }
    }
  }
}
