@import "../../../styles/partials/variables";

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $buttons-wrapper-grid-gap;
  max-width: $gameboard-max-width;
}
