@import "../../../styles/partials/variables";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: $modal-bg-overlay-color;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  display: block;
  width: $modal-width;
  max-width: calc(100% - (#{$app-margin} * 2));
  max-height: calc(100% - (#{$app-margin} * 2));
  transform: translate(-50%, -50%);
  transform-origin: top left;
  background-image: url("../../../images/yellow-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: $modal-box-shadow;
  border-radius: $modal-border-radius;
  overflow: auto;
  animation: showModal 400ms ease;
  animation-direction: alternate;
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: $modal-content-padding;
    color: $modal-content-color;
    font-size: $modal-content-font-size;
    font-weight: $modal-content-font-weight;
    overflow: auto;
    text-align: center;
  }
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 32px;
    height: 32px;
    font-size: $modal-close-button-font-size;
    color: $modal-close-button-color;
    background: $modal-close-button-bg-color;
    border: 0;
    border-radius: $modal-close-button-border-radius;
  }
}

@keyframes showModal {
  0% {
    transform: scale(0.8) translate(-50%, -50%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
