@import "../../../styles/partials/variables";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $button-width;
  min-width: $button-width;
  height: $button-height;
  min-height: $button-height;
  margin: $button-margin;
  border: 0;
  border-radius: $button-border-radius;
  background-color: $button-bg-color;
  color: $button-color;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
  &:active {
    filter: brightness($button-active-filter-brightness);
  }
  @media (hover: hover) and (pointer: fine) {
    /* mouse or touchpad */
    &:hover {
      filter: brightness($button-hover-filter-brightness);
    }
    &:active {
      transform: scale($button-active-transform-scale);
      filter: brightness($button-active-filter-brightness);
    }
  }
}

.button-disabled {
  filter: brightness($button-disabled-filter-brightness);
  pointer-events: none;
}
