@import "../../../../styles/partials/variables";

.gameboards-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  @media screen and (min-width: $media-query-medium-screen) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  grid-column-gap: $gameboards-wrapper-grid-column-gap;
  grid-row-gap: $gameboards-wrapper-grid-row-gap;
  width: 100%;
  max-width: $gameboard-max-width;
  @media screen and (min-width: $media-query-medium-screen) {
    max-width: 100%;
  }
  .gameboard-player-grid-gameboard-ship-stats-wrapper-1 {
    order: 1;
  }
  .gameboards-wrapper-button-wrapper {
    display: flex;
    justify-content: center;
    order: 2;
    @media screen and (min-width: $media-query-medium-screen) {
      order: 3;
      grid-column: span 2;
    }
  }
  .gameboard-player-grid-gameboard-ship-stats-wrapper-2 {
    order: 3;
    @media screen and (min-width: $media-query-medium-screen) {
      order: 2;
    }
  }
}
