@import "../../../../styles/partials/variables";

.gameboard-player-grid-title {
  font-family: $gameboard-player-grid-title-font-family;
  font-size: $gameboard-player-grid-title-font-size;
  font-weight: $gameboard-player-grid-title-font-weight;
  text-align: $gameboard-player-grid-title-text-align;
  text-shadow: $gameboard-player-grid-title-text-shadow;
}
