@import "./styles/partials/variables";

.App {
  display: flex;
  justify-content: center;
  margin: $app-margin;
  @media screen and (min-width: $media-query-medium-screen) {
    margin: $app-margin $gameboards-wrapper-grid-column-gap;
  }
  color: $app-color;
  background-color: $app-bg-color;
  &::after {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    content: url("./images/yellow-bg.jpg");
  }
}
