@import "./styles/partials/reset";
@import "./styles/partials/variables";

/* tangerine-regular - latin */
@font-face {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/tangerine-v15-latin/tangerine-v15-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/tangerine-v15-latin/tangerine-v15-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* tangerine-700 - latin */
@font-face {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/tangerine-v15-latin/tangerine-v15-latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/tangerine-v15-latin/tangerine-v15-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/roboto-v29-latin/roboto-v29-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg-color;
  font-family: "Tangerine", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: $body-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100%;
    height: 100vh;
    background-image: url("./images/battleship-pic.jpg");
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
